[profile.bench]
debug = true

[profile.dev]
debug = true

[profile.release]
debug = true

[workspace]
members = [
     "./reed-solomon-tester",
     "./reed-solomon-novelpoly",
     "./reed-solomon-novelpoly-fuzzit",
     "./reed-solomon-benches",
]
